<form  method="post" action="/get_deck">
    <div class="form-row w-50">
        <div class="col">
            <input type="text" class="form-control" placeholder="N" id="deck_entry" name="deck_entry" size="20">
            <br>
            <input type="submit" value="submit">
        </div>
    </div>
</form>