<form  method="post" action="/get_image">
    <div class="form-row w-50">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search images" id="image_entry" name="image_entry" size="20">
            <br>
            <input type="submit" value="submit">
        </div>
    </div>
</form>