<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API 1</title>
    {{> bootstrap}}
</head>
<body>
    <div class="container bg-secondary" style="height: 100%">
        {{>nav}}
                <br>
        {{>jumbotron}}
            {{>form}}
        <br>
        {{> cards}}
    </div>
</body>
</html>